<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>characterFilter</filter-name>
        <filter-class>com.wht.filter.CharacterFilter</filter-class>
    </filter>
    <!--        <filter>-->
    <!--            <filter-name>autoLoginFilter</filter-name>-->
    <!--            <filter-class>com.wht.filter.AutoLoginFilter</filter-class>-->
    <!--        </filter>-->
    <filter-mapping>
        <filter-name>characterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--        <filter-mapping>-->
    <!--            <filter-name>autoLoginFilter</filter-name>-->
    <!--            <url-pattern>/*</url-pattern>-->
    <!--        </filter-mapping>-->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.wht.controller.UserController</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>notice</servlet-name>
        <servlet-class>com.wht.controller.NoticeController</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.wht.controller.LogoutController</servlet-class>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.wht.controller.RegisterController</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>activeUser</servlet-name>
        <servlet-class>com.wht.controller.ActiveUserController</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>validateCode</servlet-name>
        <servlet-class>com.wht.controller.ValidateCode</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>com.wht.controller.ProductController</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>com.wht.controller.AddCartController</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>getUsers</servlet-name>
        <servlet-class>com.wht.controller.GetUsersController</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>changeCart</servlet-name>
        <servlet-class>com.wht.controller.ChangeCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeCart</servlet-name>
        <url-pattern>/changeCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsers</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateCode</servlet-name>
        <url-pattern>/validateCode</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>activeUser</servlet-name>
        <url-pattern>/activeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notice</servlet-name>
        <url-pattern>/notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/register.jsp</welcome-file>
    </welcome-file-list>
    <!--    <error-page>-->
    <!--        <error-code>404</error-code>-->
    <!--        <location>/error/error404.jsp</location>-->
    <!--    </error-page>-->
    <!--    <error-page>-->
    <!--        <exception-type>java.lang.Exception</exception-type>-->
    <!--        <location>/error/errorException.jsp</location>-->
    <!--    </error-page>-->

</web-app>
